.tPink{
    color: $tPink;
}
.tDarkGrey{
    color: $tDarkGrey;
}
.tGrey{
    color: $tGrey;
}
.tRed{
    color: $tRed;
}
.tBlue{
    color: $tBlue;
}
.tLightBlue{
    color: $tLightBlue;
}
.tLightPink{
    color: $tLightPink;
}
.tGreen{
    color: $tGreen;
}
.tYellow{
    color: $tYellow;
}
.tPurple{
    color: $tPurple;
}
.tAqua{
    color: $tAqua;
}
.tBrown{
    color: $tBrown;
}
.tDarkBlue{
    color: $tDarkBlue;
}
.tLightGreen{
    color: $tLightGreen;
}

