// Colors
$tPink: #D9197D;
$tDarkGrey: #545454;
$tGrey: #A3A3A3;
$tRed: #D52E0D;
$tBlue: #2D61C6;
$tLightBlue: #68A2E6;
$tLightPink: #DA6CB5;
$tGreen: #AECD5D;
$tYellow: #F5B82B;
$tPurple: #8F4AC9;
$tAqua: #27D2C5;
$tBrown: #C18D45;
$tDarkBlue: #395C94;
$tLightGreen: #AECD52;
